@charset "utf-8";

* {
    margin: 0em;
}

header {
    background-color: rgb(0, 174, 255);
}

header > h1 {
    display: inline-block;
    color: white;
}

header > #entrar {
    display: flex;
    justify-content: flex-end;
}

header > #cadastre {
    display: flex;
    justify-content: flex-end;
}